body {
	padding-top: 50px;
	background-color: white;
}

p {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	color: black;
}

h1 {
	color: grey;
	text-align: center;
	font-family: Georgia;
}

img {
	max-width: 40%;
	height: auto;
}

k {
	font-size: 19px;
	margin-left: 10px;
	text-align: right;
	color: black;
}

.carousel-inner>.item {
	min-height: 500px;
	background-size: cover;
	background-position: center center;
}

.rating {
	border: none;
	float: left;
  }

  .rating > input { display: none; }
  .rating > label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
  }

  .rating > .half:before {
	content: "\f089";
	position: absolute;
  }

  .rating > label {
	color: #ddd;
   float: right;
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
